<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container">
    <%= link_to "Home", root_path, class:"navbar-brand" %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-primary" aria-controls="navbar-primary" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar-primary">
      <div class="navbar-collapse-header">
        <div class="row">
          <div class="col-6 collapse-brand">
            <%= link_to root_path do %>
              <%image_tag "brand/brand-text.png"%>
            <%end %>
          </div>
          <div class="col-6 collapse-close">
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar-primary" aria-controls="navbar-primary" aria-expanded="false" aria-label="Toggle navigation">
              <span></span>
              <span></span>
            </button>
          </div>
        </div>
      </div>

      <ul class="navbar-nav ml-lg-auto">
        <li class="nav-item">
          <a class="nav-link nav-link-icon" href="<%=about_dashboard_index_path %>">
            <i class="fas fa-info-circle"></i>
            <span class="nav-link-inner--text d-lg-none">About</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-link-icon" href="<%=new_contact_path %>">
            <i class="fas fa-comments"></i>
            <span class="nav-link-inner--text d-lg-none">Contact</span>
          </a>
        </li>
        <%=render "shared/header/signed_in_nav" %>
      </ul>

    </div>
  </div>
</nav>
